page-ingredients {    
        .toolbar-background-md {
        border-color: #b2b2b2;
        background: #E46909;
      }
      .item-ios.item-block .item-inner{
        border-bottom: none
      }
      .col-33 {
        width: 140%;
        height: 70%;
        float:left;
      }
      
      .full-image {
        width: 100%;
        height: 100%;
      }
      
      .card-description {
        text-align: center;
      }
    
      .category-description {
        font-weight: bold;
      }
      .scroll-content{
        background-color: $white;
      }
      .ion-scroll.item{
        white-space: nowrap;
        height: 10%;
        background-color: $white;
      }
      .image__padding {
        padding: 50px;
      }
      .padding_helper {
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: $white;
      }
      .category__image {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__image2 {
        background-image: url('../assets/img/backgrounds/img2.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .category__image3 {
        background-image: url('../assets/img/backgrounds/img3.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      .section__headline {
        font-size: 1.5rem;
        font-weight: $bold;
        letter-spacing: .8px;
        margin: 0;
        text-transform: uppercase;
        color: $grey;
      }
      .category__headline {
        font-size: 2.3rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        line-height: 1.1;
        margin: 5px;
      }
    }
    