<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title text-center>
      <p style="color: Black">MY CART</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <h4>{{location.config.guestName}}</h4>
    <h4>Pick Up Location</h4>
    <ion-avatar item-left>
      <img src="{{location.config.sImage1}}">
    </ion-avatar>
    <h2>{{location.name}}</h2>
    <p>{{ location.address[0].address1}}</p>
    <p>{{ location.address[0].city}},{{ location.address[0].state}} {{ location.address[0].zip}}</p>
  </ion-item>
  <ion-item>
    <div class="row header">
      <thead>
        <tr>
          <th style="width:70%">Order Details</th>
          <th style="width:5%"></th>
          <th style="width:10%">QTY</th>
          <th style="width:5%"></th>
          <th style="width:10%">Amount</th>
          <th style="width:5%"></th>
        </tr>
      </thead>
    </div>


    <div class="row" *ngFor="let item of cart">
      <tbody>
        <tr>
          <td style="width:70%">
            <h2>{{item.itemName}}</h2>
          </td>
          <td style="width:5%">
            <button clear item-right (click)="quantityPlus(item)">
              <ion-icon name="ios-arrow-dropup-circle"></ion-icon>
            </button>
          </td>
          <td style="width:10%">
            <h4>{{item.qty}}</h4>
          </td>
          <td style="width:5%">
            <button clear item-right (click)="quantityMinus(item)">
              <ion-icon name="ios-arrow-dropdown-circle"></ion-icon>
            </button>
          </td>
          <td style="width:10%">
            <h4> ${{item.itemPrice * item.qty}}</h4>
            <h4> ${{item.tax}}</h4>
          </td>
          <td style="width:5%">
            <button clear item-right (click)="removeItemFromCart(item)">
              <ion-icon name="ios-remove-circle"></ion-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </div>
    <ion-list *ngIf="cart.length">
      <ion-item>
        <h2>SUBTOTAL</h2>
        <h2 item-right>${{getSubTotal()}}</h2>
      </ion-item>
      <ion-item>
        <h2>TAXES</h2>
        <h2 item-right>${{getTaxTotal()}}</h2>
      </ion-item>
      <ion-item>
        <h2>Total Due</h2>
        <h2 item-right>${{getGrandTotal()}}</h2>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="!cart.length">
      <h2 class="center">Cart is empty</h2>
    </ion-item>
  </ion-item>


</ion-content>

<ion-footer>

  <button ion-button block color="primary" icon="cart" (click)="addMore($event, item)">
    <ion-icon name="ios-add"></ion-icon>Add more items</button>
  <button ion-button block color="dark" icon="cart" (click)="checkOut($event, item)">
    <ion-icon name="ios-cart"></ion-icon>
    PAY</button>
  <button ion-button block color="danger" icon="cart" (click)="deleteCart()">
    <ion-icon name="ios-trash"></ion-icon>
    Delete Cart</button>
  <ion-row>
    <ion-col no-padding>
      <button id="notification-button" no-margin ion-button full color="primary" (click)="navigate($event, 'menu')">
        <ion-icon name="ios-menu"></ion-icon>Menu</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="primary" (click)="navigate($event, 'cart')">
        <ion-icon name="ios-cart">
          <ion-badge id="notifications-badge" color="danger">{{cartCount}}</ion-badge>
        </ion-icon>Cart</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="primary" (click)="navigate($event, 'grabby')">
        <ion-icon name="logo-android"></ion-icon>Grabby</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="primary" (click)="navigate($event, 'profile')">
        <ion-icon name="ios-person"></ion-icon>Profile</button>
    </ion-col>
  </ion-row>
</ion-footer>
