<ion-header>
  <ion-navbar hideBackButton="true">
      <ion-title text-center>
          <p style="color: Black">{{ 'MENU_PAGE_TITLE' | translate }}</p>
        </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-icon name="pin">{{location.name}}</ion-icon>
    <a (click)="changeLocation($event)">{{ 'CHANGE_LOCATION_HYPER' | translate }}</a>
    <ion-item *ngFor="let cat of menu">
      <div class="category-description">{{ cat.categoryName }}</div>
      <ion-scroll scrollX="true" style="white-space: nowrap; height: 220px">
        <ion-row nowrap >
          <div class="padding_helper col col-33" color="white" *ngFor="let k of cat.item">
              <img class="full-image" src="{{k.itemImage}}" (click)="presentPopup($event, k)">
              <div class="card-description">{{k.itemName}}</div>
         </div>
        </ion-row>
      </ion-scroll>
    </ion-item>
  </ion-content>

  <ion-footer>
    <ion-row>
        <ion-col no-padding>
            <button  id="notification-button" no-margin ion-button full  color="primary" (click)="navigate($event, 'menu')">
                <ion-icon name="ios-menu"></ion-icon>Menu</button> 
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full color="primary" (click)="navigate($event, 'cart')">
                <ion-icon name="ios-cart">
                    <ion-badge id="notifications-badge" color="danger">{{cartCount}}</ion-badge>
                  </ion-icon>Cart</button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full color="primary" (click)="navigate($event, 'grabby')">
                <ion-icon name="logo-android"></ion-icon>Grabby</button>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button full color="primary" (click)="navigate($event, 'profile')">
                <ion-icon name="ios-person"></ion-icon>Profile</button>
        </ion-col>
    </ion-row>
</ion-footer>
